<h1 >Bot Works</h1>

<!-- 
<div class="bot-container">
  <img src="../assets/logo.png" alt="Logo" class="logo">
  <h1 class="title">Bharat Bot</h1>

  <div class="buttons">
    <button class="button">Login</button>
    <button class="button">Signup</button>
    <button class="button">Research Book</button>
    <button class="button">Search Query</button>
  </div>

  <div class="chatbox">
    <div class="search-bar">
      <input type="text" placeholder="Ask me anything" class="search-input">
      <button class="send-button">&#9658;</button>
    </div>

    <div class="chatlog">
      <div *ngFor="let message of chatLog" [class.received]="message.isReceived" [class.sent]="!message.isReceived" class="message">
         <p>{{ message.message }}</p> -->
     <!-- </div> -->
       <!-- (click)="handleUserInput()"  -->
      <!-- <button class="send-button" >Send</button>
  </div>
</div> --> 


<div class="bot-container">
  <img src="../assets/logo.png" alt="Logo" class="logo">
  <h1 class="title">Bharat Bot</h1>
+
  <div class="buttons">
    <button class="button">Login</button>
    <button class="button">Signup</button>
    <button class="button">Research Book</button>
    <button class="button">Search Query</button>
  </div>

  <div class="chatbox">
    <div class="search-bar">
      <input type="text" placeholder="Ask me anything" class="search-input">
      <button class="send-button">&#9658;</button>
    </div>

    <div class="chatlog">
      <div *ngFor="let message of chatLog" [class.received]="message.isReceived" [class.sent]="!message.isReceived" class="message">
         <!-- <p>{{ message.message }}</p>  -->
     </div> 
        <!-- (click)="handleUserInput()"   -->
       <!-- <button class="send-button" >Send</button> -->
  </div>
</div> 
